@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  text-align: center;
  padding-top: 40px;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.title {
  font-weight: 600;
  color: white;
}

.search {
  margin-top: 15px;
}

input {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
}

button {
  margin-left: 8px;
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-layout {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-panel {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 25px;
  width: 200px;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.left-panel img {
  width: 90px;
}

.temp {
  font-size: 34px;
  font-weight: 600;
}

.badge {
  background-color: #00c6ff;
  padding: 6px 14px;
  border-radius: 20px;
  margin-top: 5px;
  display: inline-block;
}

.right-panel {
  background: rgba(255, 255, 255, 0.92);
  padding: 25px;
  width: 260px;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
}
